# Heroes Of Pymoli Data Analysis
* There were 576 active players, the majority are male (84%).Female players account for (14%).

* The demographic age distribution shows the 20-24 age group with (44.8%). Secondary groups fall between 15-19 (18.60%) and 25-29 (13.4%).  

* The average purchase price is relatively flat at $4.00 per player with males carrying 2/3 of all purchases.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
count_players =purchase_data_pd["SN"].value_counts()
print("Total number of players:", len(count_players))

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [52]:
#Purchasing Analysis (Total)

# Unique Items
unique_items =purchase_data_pd["Item ID"].value_counts()
#print(len(unique_items))

# Number of Purchases
purchases = purchase_data_pd["Purchase ID"].count()
#print(purchases)

# Average Price
average_price = purchase_data_pd["Price"].mean()
average_price
#print("Avg_Price", average_price)

# Average Age
average_age = purchase_data_pd["Age"].mean()
#print("Avg_Age", average_age)

# Total Revenue
total_revenue = purchase_data_pd["Price"].sum()
#print("Total_Price", total_price)


summary_table = pd.DataFrame({"Number of Unique Items": unique_items.count(),
                              "Average Price": [average_price],
                              "Number of Purchases": purchases,
                              "Total Revenue": [total_revenue]})
#Formatting
summary_table.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#look at all values for gender
unique = purchase_data_pd["Gender"].unique()
unique

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [51]:
# Gender Demographics Summary

nodups = purchase_data_pd.drop_duplicates(['SN'], keep='first')
gender_count = nodups[("Gender")].value_counts()
total_gender_count = gender_count.sum()
#print(gender_count, total_gender_count)

# Based on unique players
Male_cnt = nodups.loc[nodups["Gender"] == "Male", "Gender"].count()
Male_pct = (Male_cnt / total_gender_count) * 100
#print("Percentage and Count of Male Players:", Male_cnt, "|", Male_pct)

Female_cnt = nodups.loc[nodups["Gender"] == "Female", "Gender"].count()
Female_pct = (Female_cnt / total_gender_count) * 100
#print("Percentage and Count of Female Players:", Female_cnt, "|", Female_pct)

Other_cnt = nodups.loc[nodups["Gender"] == "Other / Non-Disclosed", "Gender"].count()
Other_pct = (Other_cnt / total_gender_count) * 100
#print("Percentage and Count of Other / Non-Disclosed:", Other_cnt, "|", Other_pct)

# Using the raw sample data set
Male_cnt_raw = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Male", "Gender"].count()
Male_pct_raw = (Male_cnt_raw / total_gender_count) * 100
#print("Percentage and Count of Male Players2:", Male_cnt_raw, "|", Male_pct_raw)

Female_cnt_raw = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Female", "Gender"].count()
Female_pct_raw = (Female_cnt_raw / total_gender_count) * 100
#print("Percentage and Count of Female Players2:", Female_cnt_raw, "|", Female_pct_raw)

Other_cnt_raw = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Other / Non-Disclosed", "Gender"].count()
Other_pct_raw = (Other_cnt_raw / total_gender_count) * 100
#print("Percentage and Count of Other / Non-Disclosed2:", Other_cnt_raw, "|", Other_pct_raw)

# Summary of Results in a dataframe
#gender_summary = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                #"Purchase Count": [Male_cnt, Female_cnt, Other_cnt],
                                #"Percentages": [Male_pct, Female_pct, Other_pct]})

#gender_summary

# Final Summary of Results in a dataframe
gender_summary2 = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                "Percentage of Players": [Male_pct, Female_pct, Other_pct],
                                "Total Count": [Male_cnt, Female_cnt, Other_cnt]})
#Formatting
gender_summary2.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# review the column headers 
columns = purchase_data_pd.columns
columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [50]:
#Purchasing Analysis (Gender)

nodups = purchase_data_pd.drop_duplicates(['SN'], keep='first')

# Male 
male_pcnt = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Male", "Purchase ID"].count()
male_app = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Male", "Price"].mean()
male_pur = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Male", "Price"].sum()
male_pp = male_pur / male_pcnt
#print( male_pcnt, "|", male_app)

# Females
female_pcnt = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Female", "Purchase ID"].count()
female_app = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Female", "Price"].mean()
female_pur = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Female", "Price"].sum()
female_pp = female_pur / female_pcnt
#print( female_pcnt, "|", female_app)

# Other 
other_pcnt = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Other / Non-Disclosed", "Purchase ID"].count()
other_app = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Other / Non-Disclosed", "Price"].mean()
other_pur = purchase_data_pd.loc[purchase_data_pd["Gender"] == "Other / Non-Disclosed", "Price"].sum()
other_pp = other_pur / other_pcnt
#print( other_pcnt, "|", other_app)

# All purchases
pur_total_pp = (male_pur + female_pur + other_pur)
#print(pur_total_pp)

# Summary Table for Purchases by Gender
Purchase_Summary = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                "Purchase Count": [male_pcnt, female_pcnt,other_pcnt],
                                "Average Purchase Price": [male_app,female_app,other_app],
                                "Total Purchase Value": [male_pur,female_pur,other_pur],
                                "Average Purchase Total Per Person": [male_pp, female_pp, other_pp]})

#Purchase_Summary = Purchase_Summary[["Gender","Purchase Count","Average Purchase Price","Total Purchase Value",
                                     #"Average Purchase Total Per Person"]]

#Formatting
Purchase_Summary.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}",
                               "Average Purchase Total Per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [38]:
#Age Demographics Analysis
nodups = purchase_data_pd.drop_duplicates(['SN'], keep='first')

# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin purchase data by Age
pd.cut(nodups["Age"], age_bins, labels=group_names)
nodups["Age Group"] = pd.cut(nodups["Age"], age_bins, labels=group_names)
nodups.head()

grp_1 = nodups.loc[nodups["Age Group"] == "<10", "Age Group"].count()
grp_1_pct = (grp_1 / total_gender_count) * 100

grp_2 = nodups.loc[nodups["Age Group"] == "10-14", "Age Group"].count()
grp_2_pct = (grp_2 / total_gender_count) * 100

grp_3 = nodups.loc[nodups["Age Group"] == "15-19", "Age Group"].count()
grp_3_pct = (grp_3 / total_gender_count) * 100

grp_4 = nodups.loc[nodups["Age Group"] == "20-24", "Age Group"].count()
grp_4_pct = (grp_4 / total_gender_count) * 100

grp_5 = nodups.loc[nodups["Age Group"] == "25-29", "Age Group"].count()
grp_5_pct = (grp_5 / total_gender_count) * 100

grp_6 = nodups.loc[nodups["Age Group"] == "30-34", "Age Group"].count()
grp_6_pct = (grp_6 / total_gender_count) * 100

grp_7= nodups.loc[nodups["Age Group"] == "35-39", "Age Group"].count()
grp_7_pct = (grp_7 / total_gender_count) * 100


grp_8 = nodups.loc[nodups["Age Group"] == "40+", "Age Group"].count()
grp_8_pct = (grp_8 / total_gender_count) * 100

age_summary = pd.DataFrame({"Age Group": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                                "Percentage of Players": [grp_1_pct, grp_2_pct, grp_3_pct, grp_4_pct,
                                                          grp_5_pct, grp_6_pct, grp_7_pct, grp_8_pct ],
                                "Total Count": [grp_1, grp_2, grp_3, grp_4, grp_5, grp_6, grp_7, grp_8]})
#Formatting
age_summary.style.format({"Percentage of Players": "{:.2f}%"})

C:\Users\15073\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#Purchasing Analysis

# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#pur_by_age_df = pd.Dataframe({"Age":["<10", "10-14", "15-19", "20-24", "25-29"
                                     #, "30-34", "35-39", "40+"] })
#pur_by_age_df

#Purchase Count"
# Bin purchase data by Age
pd.cut(purchase_data_pd["Age"], age_bins, labels=group_names)
purchase_data_pd["Age Group"] = pd.cut(purchase_data_pd["Age"], age_bins, labels=group_names)
purchase_data_pd.head()

grp_1 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "<10", "Age Group"].count()
grp_1_avg_pur = grp_1 / total_revenue
grp_1_tp = (grp_1_avg_pur * grp_1).sum()
grp_1_pct = grp_1_avg_pur.sum()

grp_2 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "10-14", "Age Group"].count()
grp_2_avg_pur = grp_2 / total_revenue
grp_2_tp = (grp_2_avg_pur * grp_2).sum()
grp_2_pct = grp_2_avg_pur.sum()

grp_3 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "15-19", "Age Group"].count()
grp_3_avg_pur = grp_3 / total_revenue
grp_3_tp = (grp_3_avg_pur * grp_3).sum()
grp_3_pct = grp_3_avg_pur.sum()

grp_4 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "20-24", "Age Group"].count()
grp_4_avg_pur = grp_4 / total_revenue
grp_4_tp = (grp_4_avg_pur * grp_4).sum()
grp_4_pct = grp_4_avg_pur.sum()

grp_5 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "25-29", "Age Group"].count()
grp_5_avg_pur = grp_5 / total_revenue
grp_5_tp = (grp_5_avg_pur * grp_5).sum()
grp_5_pct = grp_5_avg_pur.sum()

grp_6 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "30-34", "Age Group"].count()
grp_6_avg_pur = grp_6 / total_revenue
grp_6_tp = (grp_6_avg_pur * grp_6).sum()
grp_6_pct = grp_6_avg_pur.sum()

grp_7= purchase_data_pd.loc[purchase_data_pd["Age Group"] == "35-39", "Age Group"].count()
grp_7_avg_pur =   grp_7 / total_revenue
grp_7_tp = (grp_7_avg_pur * grp_7).sum()
grp_7_pct = grp_7_avg_pur.sum()


grp_8 = purchase_data_pd.loc[purchase_data_pd["Age Group"] == "40+", "Age Group"].count()
grp_8_avg_pur = grp_8 / total_revenue
grp_8_tp = (grp_8_avg_pur * grp_8).sum()
grp_8_pct = grp_8_avg_pur.sum()

age_analysis = pd.DataFrame({"Age Group": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                                "Purchase Count": [grp_1, grp_2, grp_3, grp_4, grp_5, grp_6, grp_7, grp_8 ],
                           "Average Purchase Total Per Person": [grp_1_pct, grp_2_pct, grp_3_pct, grp_4_pct, 
                                                                 grp_5_pct, grp_6_pct, grp_7_pct, grp_8_pct],
                            "Total Purchase Value": [grp_1_tp, grp_2_tp, grp_3_tp, grp_4_tp, grp_5_tp,
                                                         grp_6_tp, grp_7_tp, grp_8_tp],})
#Formatting
age_analysis.style.format({"Total Purchase Value": "${:.2f}", "Average Purchase Total Per Person": "${:.2f}"})

# Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
# Top Spenders Analysis
top_spend = purchase_data_pd[["SN","Price","Item Name"]]
total_spent = top_spend.groupby("SN").sum()
total_spent.sort_values("Price", ascending = False, inplace = True)

# Top Spender SN
names = list(total_spent.index.values)
top_names = [names[0],names[1],names[2],names[3],names[4]]

# Total Purchase Values
total_purchase_values_1 = total_spent.iloc[0,0]
total_purchase_values_2 = total_spent.iloc[1,0]
total_purchase_values_3 = total_spent.iloc[2,0]
total_purchase_values_4 = total_spent.iloc[3,0]
total_purchase_values_5 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
                      total_spent.iloc[4,0]]

# Purchase Counts
top_purchase_counts_1 = top_spend[top_spend["SN"] == names[0]].count()[0]
top_purchase_counts_2 = top_spend[top_spend["SN"] == names[1]].count()[0]
top_purchase_counts_3 = top_spend[top_spend["SN"] == names[2]].count()[0]
top_purchase_counts_4 = top_spend[top_spend["SN"] == names[3]].count()[0]
top_purchase_counts_5 = top_spend[top_spend["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_1, top_purchase_counts_2, top_purchase_counts_3, top_purchase_counts_4,
                       top_purchase_counts_5]

# Average Purchas Prices
avg_price_1 = total_purchase_values_1/top_purchase_counts_1
avg_price_2 = total_purchase_values_2/top_purchase_counts_2
avg_price_3 = total_purchase_values_3/top_purchase_counts_3
avg_price_4 = total_purchase_values_4/top_purchase_counts_4
avg_price_5 = total_purchase_values_5/top_purchase_counts_5
avg_prices = [avg_price_1, avg_price_2, avg_price_3, avg_price_4, avg_price_5]

# Dictionary of values
top_spenders_dict = {
    "Purchase Count": top_purchase_counts,
    "Average Purchase Price": avg_prices,
    "Total Purchase Value": top_purchase_values,
    "SN": top_names
}

# Creating DataFrame & setting index
top_spenders_df = pd.DataFrame(top_spenders_dict)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Formatting
top_spenders_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
# Popular Items Analysis
#Most popular items sort and retrieve columns
most_pop = purchase_data_pd[["Item ID", "Item Name", "Price"]]
pop_items = most_pop.groupby("Item ID").count()
pop_items.sort_values("Item Name", ascending =False, inplace = True)
most_pop = most_pop.drop_duplicates(["Item ID", "Item Name"])

# Item IDs
item_ids = [pop_items.index[0], pop_items.index[1], pop_items.index[2], pop_items.index[3], pop_items.index[4]]

# Item Names
name_1 = most_pop.loc[most_pop["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = most_pop.loc[most_pop["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = most_pop.loc[most_pop["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = most_pop.loc[most_pop["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = most_pop.loc[most_pop["Item ID"] == item_ids[4], "Item Name"].item()
pop_item_names = [name_1, name_2, name_3, name_4, name_5]

# Purchase Counts
item_counts = [pop_items.iloc[0,0], pop_items.iloc[1,0], pop_items.iloc[2,0], pop_items.iloc[3,0], pop_items.iloc[4,0]]

# Item Prices
price_1 = most_pop.loc[most_pop["Item Name"] == pop_item_names[0], "Price"].item()
price_2 = most_pop.loc[most_pop["Item Name"] == pop_item_names[1], "Price"].item()
price_3 = most_pop.loc[most_pop["Item Name"] == pop_item_names[2], "Price"].item()
price_4 = most_pop.loc[most_pop["Item Name"] == pop_item_names[3], "Price"].item()
price_5 = most_pop.loc[most_pop["Item Name"] == pop_item_names[4], "Price"].item()
item_prices = [price_1,price_2,price_3,price_4,price_5]

# Total Purchase Value
total_values = [pop_items.iloc[0,0]*price_1, pop_items.iloc[1,0]*price_2, pop_items.iloc[2,0]*price_3, 
                pop_items.iloc[3,0]*price_4, pop_items.iloc[4,0]*price_5]

# Creating DataFrame & setting index
pop_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": pop_item_names,
    "Purchase Count": item_counts,
    "Item Price": item_prices,
    "Total Purchase Value": total_values
})
pop_items_df = pop_items_df.set_index(["Item ID", "Item Name"])
pop_items_df = pop_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

# Formatting
pop_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
# Sort from highest to lowest
profit_df = pop_items_df.sort_values("Total Purchase Value", ascending=False)
profit_df.head()

profit_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:,.2f}"})